.tag-cloud-title {
    font-size: 22px;
    color: #4183c4;
    font-weight: bold;
    padding-bottom: 30px;
    padding-top: 30px;
}


.tag-cloud {
    text-align: center;
}

.tag-cloud a {
    display: inline-block;
    margin: 10px;
}
